<div class="footer">
  <footer>
      <ul class="list-inline" list-style: none;>
          <li class="copyright">© Supreme Speakers 2023</a></li>
          <li class="list-inline-item"><a href="/about">About</a></li>
          <li class="list-inline-item"><a href="/contact">Contact</a></li>
      </ul>
  </footer>
</div>
</body>
</html>