<%- include('./partials/header.ejs') %>
    <div class="content">
        <div class="center-container">
            <div class="event-heading">
                <h3 class="dis-in-bl">About Us</h3>
            </div>
            <div class="center-container">
                <div class="m-80">
                  <H1>Welcome to Supreme Speakers.</H1>
                  <p> Supreme Speakers is an online shopping platform that specializes in offering a wide range of high-quality wireless and wired speakers. 
                      Whether you're looking for a speaker for your home, office, or outdoor activities, Supreme Speakers has got you covered with their extensive collection of top-brand speakers that cater to various needs and preferences.</p>
                  <p> With competitive pricing, convenient online shopping experience, and reliable customer service, Supreme Speakers aims to be your go-to destination for all your speaker needs. </p>
                </div>
              </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>