<%- include('./partials/header.ejs') %>
    <div class="content">
        <div class="center-container">
            <div class="page1">
                <h3>Location</h3>
                <p>Music Hall, 10011 Graduate ln Rd, Charlotte, NC 28262</p>

                <h3>Store hours</h3>
                <p>11:00 AM – 7:00 PM EST</p>
                <p>Monday – Saturday And by appointment</p>

                <h3>Contact us</h3>
                <p>Phone: (980) 687-8582</p>
                <p>Email: supremespeakers@gmail.com</p>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>