<%- include('./partials/header.ejs') %>
<div class="center-container">
    <div class="page1">
      <H1>Welcome to Supreme Speakers.</H1>
      <p> Supreme Speakers is an online shopping platform that specializes in offering a wide range of high-quality wireless and wired speakers. 
          Whether you're looking for a speaker for your home, office, or outdoor activities, Supreme Speakers has got you covered with their extensive collection of top-brand speakers that cater to various needs and preferences.</p>
      <p> With competitive pricing, convenient online shopping experience, and reliable customer service, Supreme Speakers aims to be your go-to destination for all your speaker needs. </p>
    </div>
  </div>
<%- include('./partials/footer.ejs') %>